<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div class="alert alert-warning text-center" role="alert">
      <h4><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h4>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :first_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :last_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :aliases, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :aliases, @person.aliases, { include_blank: true }, { multiple: true, class: 'select2-tags form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label 'Movies as Actor/Actress', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :movies_as_actor_ids, movies_for_select, {}, { multiple: true, class: 'select2 form-control' }  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label 'Movies as Director', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :movies_as_director_ids, movies_for_select, {}, { multiple: true, class: 'select2 form-control' }  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label 'Movies as Producer', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :movies_as_producer_ids, movies_for_select, {}, { multiple: true, class: 'select2 form-control' }  %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= form.submit "SAVE", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
