<div class="row">
  <div class="col-sm">
    <h3>PEOPLE</h3>
  </div>
  <div class="col-sm text-right">
    <%= link_to 'NEW PERSON', new_person_path, class: "btn btn-success" %>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Aliases</th>
      <th>Actor/Actress</th>
      <th>Director</th>
      <th>Producer</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><small><%= person.first_name %></small></td>
        <td><small><%= person.last_name %></small></td>
        <td><small><%= person.alias_names %></small></td>
        <td><small><%= movies_as_actor(person) %></small></td>
        <td><small><%= movies_as_director(person) %></small></td>
        <td><small><%= movies_as_producer(person) %></small></td>
        <td><%= link_to 'Edit', edit_person_path(person), class: "btn btn-outline-danger btn-sm" %></td>
        <td><%= link_to 'Destroy', person_path(person), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
